<div class="row mb-1 mr-0 custum-border">
    <!-- Details article -->
    <div class="col-md-3 custum-border-right mb-1 mt-1">
        <div class="row text-center">
            <div class="col-md-12">
                12.12.2012
            </div>
        </div>
    </div>

    <!-- Details categorie -->
    <div class="col-md-3 custum-border-right mb-1 mt-1">
        <div class="row text-center">
            <div class="col-md-12">
                <h5>139</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 custum-border-right mb-1 mt-1">
        <div class="row text-center">
            <div class="col-md-12">
                <h5>Sortie</h5>
            </div>
        </div>
    </div>

    <!-- Boutons action -->
    <div class="col-md-3 mb-1 mt-1">
        <div class="row text-center">
            <div class="col-md-12">
                COMMANDE_CLIENT
            </div>
        </div>
    </div>
</div>