<div class="row mb-1 mr-0 custum-border">
    <div class="col-md-1 custum-border-right mb-1 mt-1">
        <img src="assets/user.png" width="100px" height="100px">
    </div>

    <!-- Details client -->
    <div class="col-md-3 custum-border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1">
                    <i class="fas fa-info-circle blue-color"></i>
                </div>
                <div class="col-md-11">Nom</div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <i class="fas fa-info-circle blue-color"></i>
                </div>
                <div class="col-md-11">Prénom</div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <i class="fas fa-phone-alt blue-color"></i>
                </div>
                <div class="col-md-11">00 00 00 00 00</div>
            </div>
        </div>
    </div>

    <!-- Details adresse -->
    <div class="col-md-3 custum-border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1">
                    <i class="fas fa-home blue-color"></i>
                </div>
                <div class="col-md-11">Adresse 1 adresse 2</div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <i class="fas fa-map-marker-alt blue-color"></i>
                </div>
                <div class="col-md-11">12345 Ville</div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <i class="fas fa-globe-europe blue-color"></i>
                </div>
                <div class="col-md-11">Pays</div>
            </div>
        </div>
    </div>

    <!-- Boutons action -->
    <div class="col-md-3 mb-1 mt-1">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="row btn btn-link">
                    <i class="fas fa-pencil-alt"></i>Modifier
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="row btn btn-link red-color">
                    <i class="fas fa-trash-alt"></i>Supprimer
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="row btn btn-link">
                    <i class="fas fa-list-alt"></i>Detail
                </button>
            </div>
        </div>
    </div>
</div>