<div class="col" style="padding: 1em 3em;">
    <div class="col-md-12 mb-3">
        <div class="mb-3">
            <h2>Nouvelle commande</h2>
        </div>
        <div class="row p-3 custum-border">
            <div class="col-md-5 custum-border-right">
                <form>
                    <div class="mb-4">
                        <input type="text" class="form-control" placeholder="Code commande">
                    </div>
                    <div class="mb-4">
                        <input type="date" class="form-control" placeholder="Date commande">
                    </div>
                    <div>
                        <select class="form-control">
                            <option selected>Selectionner un {{ origin }}</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-5 custum-border-right">
                <div class="col">
                    <div class="row">
                        <div class="col-md-1">
                            <i class="fas fa-info-circle blue-color"></i>
                        </div>
                        <div class="col-md-11">Nom</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <i class="fas fa-info-circle blue-color"></i>
                        </div>
                        <div class="col-md-11">Prénom</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <i class="fas fa-phone-alt blue-color"></i>
                        </div>
                        <div class="col-md-11">00 00 00 00 00</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <i class="fas fa-hourglass-half blue-color"></i>
                        </div>
                        <div class="col-md-11">EN PREPARATION</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <img src="assets/product.png" class="rounded-circle" width="150px" height="150px" />
            </div>
        </div>
        <div class="row mt-2 p-3 custum-border">
            <form>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Code article">
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" placeholder="Quantite">
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" placeholder="Prix unitaire">
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-success">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row mt-2 p-3 custum-border custum-scroll">
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
        </div>
        <div class="row mt-2 p-3 custum-border text-end">
            <h3>Total de la commande: 516,6</h3>
        </div>
    </div>
    <div>
        <app-boutton-action-form
            (eventCancel)="cancelClick()"
            (eventSave)="saveClick()"
        ></app-boutton-action-form>
    </div>
</div>
